/* colors -
#4AA50F
#B3E580
#00082F - black
#4263EB - blue
#364FC7

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* variáveis */
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --primary-color-dark: #364FC7;
}

.dark {
    --bg-color: #00082F;
    --text-color: white;
}

.green {
    --bg-color: #f0fff4;
    --text-color: #1F000B;
    --primary-color: #2fa866;
    --primary-color-dark: #1a5c37;
}

.dark-green {
    --bg-color: #042914;
    --text-color: #FFF0F6;
    --primary-color: #2fa866;
    --primary-color-dark: #3ddc84;

}

.pink {
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
}

.dark-pink {
    --bg-color: #1F000B;
    --text-color: #FFF0F6;
    --primary-color: #A61E4D;
    --primary-color-dark: #D6336C;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);

    transition: .3s;
}

#usarname {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.8;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
}

.container {
    text-align: center;
    width: 300px;
    margin: 65px auto;
}

i {
    font-size: 28px;
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;

    transition: transform .3s;
}

img.avatar:hover {
    transform: scale(1.1);
}

ul {
    list-style: none;
    margin:  48px 0;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color); /* hex: 0 - F */
    color: white;
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;
}

/* pseudo-class */
ul li a:hover {
    background-color: var(--primary-color-dark);
}

footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
}

footer a {
    color: var(--text-color);
}

/* Dark Mode */
.bi-moon {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.change {
    position: absolute;
    margin-left: 2rem;
    width: 32px;
}

.change:hover {
    opacity: .8;
}

.bi {
    font-size: 2rem;
    cursor: pointer;
}

.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}

/* Colors Mode */
nav {
    position: absolute;
    right: 0;

    padding: .5rem;
    border-left: 2px solid #364FC7;
    border-radius: 1rem;
}

nav > ul {
    margin: 0 2rem;
}

nav > ul > li {
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

nav > ul > li .color {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1px;
    border: 4px solid white;

    cursor: pointer;
}

nav ul p {
    font-weight: bold;
    font-size: 1.1rem;
}

.selected {
    outline: 2px solid #43a1ff;
}

#green .color {
    background-color: #3ddc84;
}

#dark-green .color {
    background-color: #1a5c37;
}

#pink .color {
    background-color: #D6336C;
}

#dark-pink .color {
    background-color: #A61E4D;
}


@media screen and (max-width: 800px) {
    nav {
        display: none;
    }

    .change {
        margin-left: 1.5rem;
    }
}